*.toc
*.png
*.aux
*.fdb_latexmk
*.fls
*.txt
*.out
*.log
*.bib
*.bcf
*.blg
*.bbl
*.xml
*.html
*.gz
*.RData
*.Rhistory
*.tex
.Rproj.user
*desktop.ini
*.Rproj

sayantan.csv
sayantan.Rmd
src/rough-work_files

!src/visualisation-project-code.html